<div class="container p-3">
  <div class="row">
    <div class="cow">
      <h1>User info</h1>

      <div class="mt-3">
        <% if @user.errors.any? %>
          <h2><%=@user.errors.count %> error prohibited this obj from being saved</h2>
          <% @user.errors.full_messages.each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
          <% end %>
        <% end %>
      </div>

      <%=form_with model:@user do |f| %>
        <p>Name</p>
        <%= f.text_field:name,class:"border border-muted w-100" %>

        <p class="mt-3">Image</p>
        <%= f.file_field:profile_image,accept:"image/*" %>

        <p class="mt-3">Introduction</p>
        <%=f.text_area:introduction,class:"border border-muted w-100" %><br>
        <%=f.submit"Update User",class:"mt-2 btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
