<div class="container mt-3">
  <div class="row">
    <%=render'user',book:@book,user:@user %>
    <div class="col-md-8 offset-md-1">
      <div>
        <h2>Books</h2>
        <table class="border-top table table-hover">
          <thead>
            <tr class="border-bottom">
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <td><%= link_to user_path(book.user.id) do %>
                <%=image_tag book.user.get_profile_image(80,80) %>
                <% end %>
              </td>
              <td><%= link_to book_path(book.id) do %>
                <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
