<div class="container">
  <div class="row">
    <%=render"users/user",book:@book,user:@user %>
    <div class="col-8">
      <div class="m-3">
        <h2>Book detail</h2>
        <table class="border-top table">
          <tbody>
            <tr>
              <Th><%=link_to user_path(@bookf.user.id) do %>
                  <%=image_tag @bookf.user.get_profile_image(80,80) %><br><%= @bookf.user.name %>
                  <% end %>
              </Th>
              <td><%=link_to book_path(@bookf.id) do %>
                  <%=@bookf.title %>
                  <% end %>
              </td>
              <td><%=@bookf.body %></td>
              <% if @bookf.user==current_user %>
                <td><%=link_to edit_book_path(@bookf.id),class:"btn btn-success" do %>
                      Edit
                    <% end %>
                </td>
                <td><%= link_to book_path(@bookf.id),method: :delete,"data-confirm"=>"本当に削除しますか？",class:"btn btn-danger" do %>
                      Destroy
                    <% end %>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




